@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; }

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center; }
  .nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; }
  .nav__item {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.25px;
    padding: 1.6rem; }
    .nav__item--div {
      padding: 1.6rem;
      width: 12rem;
      height: 5rem;
      border: 1px solid #BF9D8A;
      border-radius: .8rem;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      align-items: center; }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%; }
  .gallery__item {
    max-width: 25%;
    flex-shrink: 2; }
  .gallery__item:first-of-type, .gallery__item:last-of-type {
    max-width: 50%;
    flex-grow: 2; }

.services {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem; }
  .services__header {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #3C3F40;
    margin: 8rem auto 6.4rem auto; }
  .services__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .services__background-icon {
    width: 19.2rem;
    height: 19.2rem;
    border-radius: 1.6rem;
    margin: 0 1.6rem 2.7rem 1.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .services__background-icon:nth-child(odd) {
    background-color: #E9E9E3; }
  .services__background-icon:nth-child(even) {
    background-color: #F5F5F1; }

.contact {
  background: radial-gradient(50% 50% at 50% 50%, #F5F5F1 0%, #D8D9CC 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3.2rem 6.8rem; }
  .contact__header {
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #3C3F40;
    margin: 8rem auto 6.4rem auto; }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 1030px;
    height: 506px;
    background: #FFFFFF;
    /* box shadow white background */
    box-shadow: 4px 4px 16px rgba(28, 28, 30, 0.2);
    border-radius: 16px; }
  .contact__wrapper-main {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contact__wrapper-main--first {
      width: 50%;
      display: flex;
      flex-direction: column; }
    .contact__wrapper-main--second {
      width: 50%;
      display: flex;
      flex-direction: column; }
