@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap');

@import "_mixins";

$color-text: #3C3F40;
$color-light-brown: #BF9D8A;
$color-light-grey: #E9E9E3;
$color-lighten-grey: #F5F5F1;


html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    
    &__logo {

    }
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;

    }
    &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.8rem;
      text-align: center;
      letter-spacing: 0.25px;
      padding: 1.6rem;

      &--div {
        padding: 1.6rem;
        width: 12rem;
        height: 5rem;
        border: 1px solid $color-light-brown;
        border-radius: .8rem;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
      }
    }

  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    &__item {
      max-width: 25%;
      flex-shrink: 2;
    }
    &__item:first-of-type, &__item:last-of-type {
      max-width: 50%;
      flex-grow: 2;
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
    &__header {
      @include header;
      
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    &__background-icon {
      width: 19.2rem;
      height: 19.2rem;
      border-radius: 1.6rem;
      // margin-bottom: 2.7rem;
      margin: 0 1.6rem 2.7rem 1.6em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
    &__background-icon:nth-child(odd) {
      background-color: $color-light-grey;
    }
    &__background-icon:nth-child(even) {
      background-color: $color-lighten-grey;
    }
    &__icon {

    }
  }
  .contact {
    background: radial-gradient(50% 50% at 50% 50%, #F5F5F1 0%, #D8D9CC 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3.2rem 6.8rem;
    &__header {
      @include header;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
     

      width: 1030px;
      height: 506px;

      background: #FFFFFF;
      /* box shadow white background */

      box-shadow: 4px 4px 16px rgba(28, 28, 30, 0.2);
      border-radius: 16px;
    }
    &__wrapper-main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &--first {
        width: 50%;
        display: flex;
        flex-direction: column;

      }
      &--second {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
    }
  }